/* general */
html, body {
    min-width: 1024px;
    margin: 0; padding: 0;
    font-family: sans-serif;
    background: #f1f1f1;
}
.container {
    width: 1024px;
    margin: 0 auto;
}
/* header */
.header {
    width: 100%; height: 80px;
    background: #bf2932;
}
.logo, .postsomething {
    height: 100%;
    display: block;
    line-height: 80px;
}
.logo {
    float: left;
}
.postsomething {
    float: right;
}
.logo>* {
    display: inline-block;
    vertical-align: middle;
}
.logo>img {
    height: 50px;
}
.logo>h1 {
    margin: 0; padding: 0;
    font-size: 32px;
    color: #ffffff;
}
.postsomething>button {
    height: 40px; width: 180px;
    margin: 18px 0 0 0; padding: 0;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
    background: #ffffff;
    color: #bf2932;
    cursor: pointer;
}

/* posts */
.post {
    height: 160px;
    margin-top: 10px;
    font-size: 0;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    background: #ffffff;
}
.content, .votes {
    height: 100%;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}
.content {
    width: 800px;
}
.content>* {
    margin: 0; padding: 0;
}
.writesomething, .text, .info {
    font-size: 18px;
    letter-spacing: 2px;
}
.writesomething, .text {
    width: 720px;
    padding: 40px 0 0 40px;
    line-height: 24px;
    color: #555555;
}
.writesomething {
    border: none;
    outline: none;
}
.info {
    padding: 10px 0 0 40px;
    color: #cacaca;
}
.votes {
    width: 222px;
}
.count {
    height: 100%; width: 157px;
    border-left: 1px solid #eaeaea;
    font-size: 32px;
    text-align: center;
    line-height: 160px;
    vertical-align: middle;
    color: #eaeaea;
    float: left;
}
.actions {
    float: right;
}
.upvote, .downvote {
    height: 80px; width: 64px;
    margin: 0; padding: 0;
    display: block;
    text-align: center;
    border: none;
    background: #eaeaea;
    cursor: pointer;
}
.upvote {
    border-bottom: 1px solid #ffffff;
}
.downvote {
    border-top: 1px solid #ffffff;
}
.chevron {
    height: 20px;
    display: inline-block;
}
