<html>
    <head>
        <title>Kit Kat</title>
        <link rel="icon" href="img/favicon.ico">
        <link rel="stylesheet" href="style/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
        <section class="header">
            <div class="container">
                <div class="logo">
                    <img src="img/kitkat.png" alt="Kit Kat">
                    <h1>Kit Kat</h1>
                </div>
                <div class="postsomething">
                    <button>Post Something</button>
                </div>
            </div>
        </section>
        <section class="posts">
            <div class="container">
                <!-- new post -->
                <div class="post new">
                    <div class="content">
                        <input type="text" placeholder="Write something..." class="writesomething">
                        <p class="info">Press ENTER to submit</p>
                    </div>
                    <div class="votes">
                        <div class="count">0</div>
                        <div class="actions">
                            <button class="upvote">
                                <img src="img/chevron-up.svg" alt="upvote" class="chevron">
                            </button>
                            <button class="downvote">
                                <img src="img/chevron-down.svg" alt="downvote" class="chevron">
                            </button>
                        </div>
                    </div>
                </div>
                <!-- post -->
                <div class="post">
                    <div class="content">
                        <p class="text">Nothing good to say. Nothing good to say. Nothing good to say. Nothing good to say. Nothing good to say.</p>
                        <p class="info">2 hours ago</p>
                    </div>
                    <div class="votes">
                        <div class="count">0</div>
                        <div class="actions">
                            <button class="upvote">
                                <img src="img/chevron-up.svg" alt="upvote" class="chevron">
                            </button>
                            <button class="downvote">
                                <img src="img/chevron-down.svg" alt="downvote" class="chevron">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
